<header class=auth-log>
    <div class="container">
        <img src="/public/images/Adventor.png" alt="">
        <nav class="navbar">
            <ul class="navbar-list">
                <li class="nav-item"><a href="/" class="list-style link">Home</a></li>
                <li class="nav-item"><a href="" class="list-style link">About</a></li>
                <li class="nav-item"><a href="" class="list-style link">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>