<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="about">
                <h4 class="h4 wtext">About Adventor.</h4>
                <p class="p wtext">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt id sem vel quis in turpis sit eget pellentesque. Nunc etiicies in rhoncus, rhoncus in arcu. Tincidunt neque fusce vitaenisi aliquet. que maeae tortoere necsem commodo ac.
                </p>
            </div>
            <div class="menu">
                <h4 class="h4 wtext">Quick Menu</h4>
                <div class="footer-link">
                    <ul class="link-list wtext p">
                        <li><a href="#" class="link">Home</a></li>
                        <li><a href="#" class="link">Stories</a></li>
                        <li><a href="#" class="link">Trending Stories</a></li>
                        <li><a href="#" class="link">Popular Stories</a></li>
                    </ul>
                    <ul class="link-list wtext p">
                        <li><a href="../register" class="link">Sign up</a></li>
                        <li><a href="../login" class="link">Log in</a></li>
                        <li><a href="#" class="link">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="subscribe">
                <h4 class="h5 wtext">Subscribe to our newsletter</h4>
                <form action="" class="input-wrapper">
                    <input type="text" placeholder="Email Address" class="input-field">
                    <button type="submit" class="input-btn">
                        <span>Subscribe</span>
                        <span><img src="/public/images/arrow-Vector.png" alt=""></span>
                    </button>
                </form>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <p class="p wtext">term and policy</p>
            <ul class="social-link">
                <li><a href="#" class="social"><img src="/public/images/facebook.png" alt=""></a></li>
                <li><a href="#" class="social"><img src="/public/images/twitter.png" alt=""></a></li>
                <li><a href="#" class="social"><img src="/public/images/insta.png" alt=""></a></li>
            </ul>
        </div>
    </div>
</footer>
