<header class="header">
  <div class="container">
    <div class="nav">
      <img src='/public/images/Adventor.png' width="144px" height="22px" alt='adventor logo'>
      <nav class="navbar">
        <ul class="navbar-list">
          <li><a href="../adventure" class="list-style link">Adventures</a></li>
          <li><a href="/" class="list-style link">About</a></li>
          <li><a href="/" class="list-style link">contact</a></li>
        </ul>
        <button class="btn visible" id="compose-btn">Add Adventure</button>
        <button class="btn visible" id="explore-btn">Explore</button>
        <button class="btn visible" id="log-out">log out</button>
        <div class="dropdown" id="drop-menu">
          <button class="dropbtn p" id="drop-down">sign-in</button>
          <div class="dropdown-content">
            <a href="../register" class="link p">register</a>
            <a href="../login" class="link p">login</a>
          </div>
        </div>
      </nav>
    </div>

    <div class="header-content">
      <h4 class="text-title wtext">Discover</h4>
      <h1 class="wtext h1">The Adventure Travel</h1>
      <p class="wtext p content-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet eu at viverra cursus euismod est nec at. Sociis id non ac duis mauris luctus id arcu. Turpis non felis, vitae egestas at condimentum. Nulla iaculis amet, vehicula viverra ac vulputate nec rhoncus.</p>
      <button class="btn-secondary"><a href="../adventure.ejs">View Adventures</a></button>
    </div>
  </div>
</header>