/* @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css); */

:root {

  --bg-white: hsl(0, 0%, 100%);
  --bg-black-alpha-20: hsla(0, 0%, 0%, 0.2);
  --orange: hsla(39, 86%, 55%, 1);
  --bg-body: hsla(127, 66%, 96%, 1);
  --bg-footer: hsla(126, 50%, 11%, 1);
  --blue: hsla(194, 100%, 57%, 1);
  --Red: hsl(0, 100%, 74%);
  --Green: rgb(56, 204, 140);
  --bg-gainsboro: hsla(154, 10%, 86%, 1);
  --Blue2: hsl(248, 32%, 49%);
  --white: hsl(0, 0%, 100%);

  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);


  /* typo */
  --ssSizeFont: 14px;
  --slSizeFont: 16px;
  --sSizeFont: 18px;
  --zSizeFont: 20px;
  --xSizeFont: 24px;
  --fSizeFont: 26px;
  --psSizeFont: 28px;
  --TSizeFont: 30px;
  --mSizeFont: 40px;
  --gSizeFont: 45px;
  --pSizeFont: 50px;
  --nSizeFont: 50px;
  --lSizeFont: 85px;

  /**
   * TRANSITION
   */

  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);

  --section-spacing: 80px;


  /**
  * RADIUS
  */

  --radius-pill: 200px;
  --radius-circle: 50%;
  --radius-30: 30px;
  --radius-20: 20px;

  /**
   * BOX SHADOW
   */
  --shadow-1: 0 2px 10px hsla(209, 40%, 14%, 10%);
  --shadow-2: 0 5px 10px hsla(249, 95%, 63%, 25%);
  --shadow-3: 0 5px 10px hsla(357, 64%, 53%, 25%);
  --shadow-4: 0 30px 50px hsla(357, 64%, 53%, 30%);
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
input,
button,
ion-icon {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button {
  background-color: none;
  border: none;
  font-size: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-family: var(--ff-manrope);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  font-size: 1.6rem;
  line-height: 1.7;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 90%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
}


/* resuable style */
.container {
  padding-inline: 25px;
}


.text-title {
  font-family: 'Mansalva', cursive;
  font-size: var(--TSizeFont);
}

.wtext {
  color: var(--bg-white);
}

.btext {
  color: var(--blue);
}

.h1 {
  font-size: var(--lSizeFont);
  font-family: 'Palanquin Dark', sans-serif;
}

.h2 {
  font-size: var(--nSizeFont);
}

.h3 {
  font-size: var(--pSizeFont);
  font-family: 'Palanquin Dark', sans-serif;
}

.h4 {
  font-size: var(--psSizeFont);
  font-family: 'Palanquin Dark', sans-serif;
}

.h5 {
  font-size: var(--xSizeFont);
  font-family: 'Jost', sans-serif;
}

.h3-flex {
  font-size: var(--gSizeFont);
  font-family: 'Palanquin Dark', sans-serif;
}

.p {
  font-size: var(--sSizeFont);
  font-family: 'Jost', sans-serif;
}

.redText {
  color: var(--Red);
}

.flex-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.btn {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: var(--orange);
  color: var(--bg-white);
  font-family: 'Jost', sans-serif;
  box-shadow: var(--shadow-1);
  transition: var(--transition-1);
}


.btn-primary {
  border-radius: 5px;
  padding: 10px 18px;
  background-color: var(--orange);
  color: var(--bg-white);
  font-family: 'Jost', sans-serif;
  width: 100%;
  transition: var(--transition-1);
}

.btn-secondary {
  border-radius: 5px;
  padding: 10px 14px;
  background-color: var(--orange);
  color: var(--bg-white);
  font-family: 'Jost', sans-serif;
  transition: var(--transition-1);
}

.btn-custom {
  width: 30%;
  text-align: center;
}

.btn:is(:hover, :focus-visible),
.btn-secondary:is(:hover, :focus-visible),
.btn-primary:is(:hover, :focus-visible) {
  background-color: var(--bg-footer);
}

.content-title {
  line-height: 1;
  font-size: 7.5rem;
  text-align: center;
}

.content-text {
  text-align: center;
}

.error-message {
  color: var(--white);
  font-size: 2rem;
  text-align: center;
  font-family: 'Jost', sans-serif;
}

.message {
  color: var(--white);
}

.visible {
  display: none;
}

.p10 {
  padding-block-start: 10px;
  padding-inline-start: 10px;
}

.p1{
  padding: 10px 10px;
}

/* .checked {
  color: var(--orange);
} */

.link {
  transition: var(--transition-1);
}

.link:is(:hover, :focus-visible) {
  color: var(--orange);
}

.auth-log .container {
  background-color: var(--Blue2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
}

/* dropdown */
.dropbtn {
  background-color: var(--orange);
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 1px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--bg-footer);
}


/* header */
.header {
  width: 100%;
  background-color: var(--bg-white);
  width: 100%;
  padding-block-start: 10px;
  background-image: url('/public/images/header-background.png');
  background-color: hsla(126, 50%, 11%, 0.72);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header .container {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-end: 120px;
}

.navbar {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.navbar-list {
  display: flex;
  gap: 20px;
}

.list-style {
  font-size: var(--sSizeFont);
  font-family: 'Jost', sans-serif;
  color: var(--bg-white);
}

.container .header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block-end: 234px;
}

.container .header-content .content-text {
  width: 50%;
  text-align: center;
  font-family: 'Jost', sans-serif;
  padding-block-end: 5px;
}

/* hero */
.hero {
  width: 100%;
  background-image: url('/public/images/body-background.png');
  background-color: hsla(127, 66%, 96%, 0.95);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-block-start: 20px;
  padding-block-end: 250px;
}

.hero .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.get-started {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.gird .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.card {
  background-color: var(--bg-body);
  box-shadow: var(--shadow-1);
  border-radius: 5px;
  padding: 10px 10px;
}

.grid-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-list .img-holder {
  width: 400px;
  height: max-content;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--bg-gainsboro);
}

.grid-list .img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* .img-holder {
  aspect-ratio: 666/391; */
/* aspect-ratio: 704 / 700; */
/* background-color: #D9D9D9;
  overflow: hidden;
  border-radius: 5px;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
.text-rating {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

}

.flex-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-block-start: 90px;
}

.flex-1 {
  padding-block: 30px;
  padding-inline: 61px;
  height: 408px;
  background-color: hsla(127, 66%, 96%, 0.95);
  border: 1px solid hsla(127, 66%, 96%, 0.95);
  width: 50%;
  border-radius: 5px;
  box-shadow: var(--shadow-1);
}

.flex-1 h3 {
  line-height: 50px;
  margin-block-end: 40px;
}

.flex-1 h3::after {
  content: "";
  height: 30px;
  width: 10%;
  z-index: 999;
  border-bottom: 2px solid var(--blue);
}


.flex-2 {
  position: relative;
  right: 2%;
  bottom: -150px;
}

.testimonial {
  background-color: hsla(127, 66%, 96%, 0.95);
  padding-block: 50px;
  padding-inline: 100px;
}

.testimonial .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.client-testimonial,
.client-testimonial .text-client {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}


.testimonial .text {
  width: 50%;
  text-align: center;
}


/* footer */
.footer {
  background-color: var(--bg-footer);
  padding-block: 30px;
  color: var(--white);
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  margin-block-end: 15px;
}

.footer-link {
  display: flex;
  gap: 100px;
}

.input-wrapper {
  position: relative;
}

.input-field:is(:hover, :focus-visible) {
  border-color: var(--orange);
}

.input-field {
  height: 55px;
  padding-inline: 25px 60px;
  border: 1px solid var(--bg-footer);
  color: var(--bg-footer);
  border-radius: 5px;
  outline: var(--orange);
}

.input-btn {
  width: 150px;
  height: 50px;
  background-color: var(--orange);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  top: 2px;
  right: 5px;
  bottom: 0;
  gap: 3px;
  color: var(--bg-white);
  transition: var(--transition-1);
}


.input-btn:is(:hover, :focus-visible) {
  background-color: var(--bg-footer);
}

.footer-bottom {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  align-items: center;
  margin-block-start: 20px;
}

.social-link {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}


.social {
  padding: 10px 10px;
  transition: var(--transition-1);
}

.social:is(:hover, :focus-visible) {
  background-color: var(--orange);
  border-radius: var(--radius-circle);
}

/* LOGIN */
.section-auth {
  width: 100%;
  background-image: url('/public/images/bg-intro-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--Blue2);
  height: 100%;
}

.section-auth .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 150px;
  gap: 120px;
}

.form-context {
  padding-block: 20px;
  padding-inline: 10px;
  border-radius: 5px;
  background-color: var(--orange);
  color: var(--white);
  text-align: center;
  margin-block-end: 20px;
  box-shadow: 1px 5px 2px 0px rgba(62, 60, 73, 0.4);
}

;

.section-auth .container .content .input-container .form {
  display: flex;
  gap: 20px;

}

.auth {
  display: grid;
  gap: 20px;
}

.form-input {
  height: 40px;
  padding-inline: 25px 60px;
  border: 1px solid var(--white);
  color: var(--orange);
  border-radius: 5px;
  outline: var(--orange);
  box-shadow: var(--shadow-2);
  transition: var(--transition-1);
}

.form-input:is(:hover, :focus-visible) {
  border-color: var(--orange);
}


.compose {
  background-image: url('https://res.cloudinary.com/dwl0pqzlx/image/upload/v1684196965/samples/landscapes/beach-boat.jpg');
  background-color: var(--Blue2);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.compose .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-text {
  padding: 5px 5px;
  outline: none;
  font-family: 'Jost', sans-serif;
  ;
  color: var(--orange);
}

.input-text:is(:hover, :focus-visible) {
  border-color: var(--orange);
}

.input-file {
  background-color: var(--white);
  font-family: 'Jost', sans-serif;
  ;
}

.input-file:hover {
  background-color: var(--orange);
}


.rating {
  display: inline-block;
}

.rating input[type="radio"] {
  display: none;
}

.rating label {
  display: inline-block;
  cursor: pointer;
  width: 18px;
  height: 18px;
  background-image: url('/public/images/Star\ 4.png');
  /* Replace with your star image */
  background-repeat: no-repeat;
  background-size: cover;
}

.rating label.checked {
  background-image: url('/public/images/Star-filled.png');
  /* Replace with your filled star image */
}

/* adventure page */
.adventure-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.adv-list .img-holder {
  width: 550px;
  height: max-content;
  background-color: var(--bg-gainsboro);
  overflow: hidden;
  border-radius: 5px;
}

.adv-list .img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero .post-content {
  margin-block-start: 40px;
  text-align: left;
}

.post-text {
  padding-block: 30px;
  padding-inline: 61px;
  height: 408px;
  background-color: hsla(127, 66%, 96%, 0.95);
  border: 1px solid hsla(127, 66%, 96%, 0.95);
  width: 100%;
  border-radius: 5px;
  box-shadow: var(--shadow-1);
  margin-block-start: 20px;
}

.adv-list .flex-text, .adv-list .text-rating{
  padding-inline: 10px;
}